@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Google Logo font
// @import url(https://fonts.googleapis.com/css2?family=Oooh+Baby:400|Molle:400italic|Kalam:300,400,700|Marck+Script:400);
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Marck+Script&family=Molle&family=Oooh+Baby&display=swap');
//Open+Sans:400italic,700italic,400,700

$brand-font: 'Oooh Baby', cursive;
// $brand-font: 'Marck Script', cursive;

// Whack
// $brand-font: 'Molle', cursive;
// $brand-font: 'Kalam', cursive;

.is-brand-font {
  font-family: $brand-font;
  font-weight: bold;
}

.navbar-brand>.navbar-menu {
  background-color: #363636;
  padding: 0;
}

.navbar-item {
  height: 100%;
}

.navbar-item,
a.navbar-item:focus,
a.navbar-item:hover {
  color: white;
}