@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url(
  'https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&family=Kalam:wght@300;400;700&family=Marck+Script&family=Molle&family=Oooh+Baby&display=swap'
  );

$base-font: 'Montserrat', sans-serif;
$secondary-font: 'Kalam', cursive;
$brand-font: 'Oooh Baby', cursive;
$burgundy: rgba(164, 48, 63, 1); // #A4303F;
$ebony: rgba(95, 99, 79, 1); // #5F634F;
$richblack: rgba(26, 58, 58, 1); // #1A3A3A;
$bitterlime: rgba(186, 255, 41, 1); // #BAFF29;
$maxyellowred: rgba(233, 180, 76, 1);
$honeydew: rgba(210, 241, 228, 1);
$darkpurple: rgba(28, 2, 33, 1); // #1C0221

$jonquil: rgba( 240, 200, 8, 1);
$papayawhip: rgba( 255, 241, 208, 1);
$rosewood: rgba( 82, 0, 5, 1);
$bluegreen: rgba( 7, 160, 195, 1);
$bluesapphire: rgba( 8, 103, 136, 1);

$yellowpantone: rgba(252, 223, 0, 1);
$cinereous: rgba(153, 136, 136, 1);

$base: $darkpurple;
$secondary: $cinereous;
$accent: $yellowpantone;

$base-text: $papayawhip;


html {
  margin: auto;
  background-color: $base;
}

body {
  font-family: $base-font;
}

* {
  color: white;
}

div#root {
  background-color: $base;
  min-height: 100vh;
}

.is-brand-font {
  font-family: $brand-font;
  font-weight: bold;
}

.is-secondary-font {
  font-family: $secondary-font;
  font-weight: bold;
}

.is-base-color {
  color: $base;
}

.is-base-background {
  background-color: $base !important;
}

.is-base-button {
  background-color: $base;
  border: 2px solid $base;
  color: $accent;
  font-weight: 700;
}

.is-secondary-color {
  color: $secondary;
}

.is-secondary-background {
  background-color: $secondary;
}

.is-accent-color {
  color: $accent;
}

.is-accent-background {
  background-color: $accent;
}

.is-accent-button {
  background-color: $accent;
  border: 2px solid $accent;
  color: $base;
  font-weight: 700;
}
////////////////////////////////
.is-rosewood-color {
  color: $rosewood;
}

.is-rosewood-background {
  background-color: $rosewood !important;
}

.is-jonquil-color {
  color: $jonquil;
}

.is-jonquil-background {
  background-color: $jonquil !important;
}

.is-papayawhip-color {
  color: $papayawhip;
}

.is-papayawhip-background {
  background-color: $papayawhip !important;
}

.is-bluegreen-color {
  color: $bluegreen;
}

.is-bluegreen-background {
  background-color: $bluegreen !important;
}

.is-bluesapphire-color {
  color: $bluesapphire;
}

.is-bluesapphire-background {
  background-color: $bluesapphire !important;
}
///////////////////////////////////
.is-burgundy-color {
  color: $burgundy;
}

.is-burgundy-background {
  background-color: $burgundy;
}

.is-ebony-color {
  color: $ebony;
}

.is-ebony-background {
  background-color: $ebony;
}

.is-richblack-color {
  color: $richblack;
}

.is-richblack-background {
  background-color: $richblack;
}

.is-bitterlime-color {
  color: $bitterlime;
}

.is-bitterlime-background {
  background-color: $bitterlime;
}

.is-maxyellowred-color {
  color: $maxyellowred;
}

.is-maxyellowred-background {
  background-color: $maxyellowred;
}

.is-honeydew-color {
  color: $honeydew;
}

.is-honeydew-background {
  background-color: $honeydew;
}

.navbar-brand>.navbar-menu {
  background: transparent;
  padding: 0;
}

.navbar-item {
  height: 100%;
}

.navbar-item > p {
  color: $honeydew;
  font-family: $secondary-font;
  font-weight: bold;
}

i {
  color: $base;
}

.is-xl-text {
  font-size: 4rem;
}