@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url(
  'https://fonts.googleapis.com/css2?family=Courgette&family=Abril+Fatface&family=Montserrat&family=Tangerine&family=Kalam:wght@300;400;700&family=Marck+Script&family=Molle&family=Oooh+Baby&display=swap'
  );

$base-font: 'Montserrat', sans-serif;
$secondary-font: 'Kalam', cursive;
$brand-font: 'Oooh Baby', cursive;
// $brand-font: 'Abril Fatface', cursive;
$burgundy: rgba(164, 48, 63, 1); // #A4303F;
$ebony: rgba(95, 99, 79, 1); // #5F634F;
$richblack: rgba(26, 58, 58, 1); // #1A3A3A;
$bitterlime: rgba(186, 255, 41, 1); // #BAFF29;
$maxyellowred: rgba(233, 180, 76, 1);
$honeydew: rgba(210, 241, 228, 1);
$darkpurple: rgba(28, 2, 33, 1); // #1C0221

$jonquil: rgba( 240, 200, 8, 1);
$papayawhip: rgba( 255, 241, 208, 1);
$rosewood: rgba( 82, 0, 5, 1);
$bluegreen: rgba( 7, 160, 195, 1);
$bluesapphire: rgba( 8, 103, 136, 1);

$goldenyellow: rgba(252, 223, 0, 1);
$cinereous: rgba(153, 136, 136, 1);
$wildorchid: rgba(200, 119, 147, 1);

$forestgreen: rgba(8, 61, 0, 1);
$darkgreen: rgba(13, 99, 0, 1);
$lincolngreen: rgba(11, 82, 0, 1);
$blizzardblue: rgba(199, 241, 255, 1);
$blackcoral: rgba(94, 101, 114, 1);
$ivory: rgba(255, 255, 245, 1);

// $base: $darkpurple;
// $base: $forestgreen;
$base: $lincolngreen;
// $base: $darkgreen;
// $base: $blackcoral;
// $base: $blizzardblue;
// $base: $ivory;
// $secondary: $darkgreen;
// $secondary: $blizzardblue;
// $secondary: $ivory;
// $secondary: $blackcoral;
$secondary: $white;
$accent: $blizzardblue;
// $accent: $blackcoral;
// $accent: $darkgreen;
// $accent: $ivory;
$button-light-bg: $white;
$button-light-text: $richblack;

$button-dark-bg: $richblack;
$button-dark-text: $white;

$secondary-button-bg: $button-light-bg;
$secondary-button-text: $accent;

$base-text: $papayawhip;


html {
  margin: auto;
  background-color: $base;
}

body {
  font-family: $base-font;
}

* {
  color: $richblack;
}

div#root {
  background-color: $base;
  min-height: 100vh;
}

.main.section {
  background-color: white;
  min-height: 100vh;
}

.unauth-landing-container {
  min-height: 100%;
  display: grid;
  align-items: center;
}

.is-brand-font {
  font-family: $brand-font;
  font-weight: bold;
}

.is-secondary-font {
  font-family: $secondary-font;
  font-weight: bold;
}

.is-base-color {
  color: $base;
}

.is-base-background {
  background-color: $base !important;
}

.is-base-button {
  background-color: $base;
  border: 2px solid $base;
  color: $accent;
  font-weight: 700;
}

.is-base-border {
  border: 2px solid $base;
}

.is-secondary-color {
  color: $secondary;
}

.is-secondary-background {
  background-color: $secondary;
}

.is-secondary-button {
  background-color: $secondary-button-bg;
  border: none;
  color: $secondary-button-text;
  font-weight: 500;
}

.is-accent-color {
  color: $accent;
}

.is-accent-background {
  background-color: $accent;
}

.is-accent-button {
  background-color: $accent;
  border: 2px solid $accent;
  color: $base;
  font-weight: 700;
}

.is-accent-border {
  border: 2px solid $accent;
}

.is-dark-button {
  background-color: $button-dark-bg;
  color: $button-dark-text;
  border: 2px solid $button-dark-text;
  font-weight: 500;
}

.is-light-button {
  background-color: $button-light-bg;
  color: $button-light-text;
  border: 2px solid $button-light-text;
  font-weight: 500;
}

.navbar-brand>.navbar-menu {
  background: transparent;
  padding: 0;
}

.navbar-item {
  height: 100%;
}

.navbar-item > p {
  color: $honeydew;
  font-family: $secondary-font;
  font-weight: bold;
}

i {
  color: $base;
}

.is-xl-text {
  font-size: 4rem;
}