html {
  margin: auto;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div#root {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}